* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inv Maison Neue", "Maison Neue", -apple-system, BlinkMacSystemFont, "Open Sans", open-sans, sans-serif;
    position: relative;
    height: 100%;
}

nav {
    background: #1564C0;
}

::placeholder {
    color: #fff !important;
    opacity: 1;
    text-align: center;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff !important;
}

.form__icon {
    position: absolute;
    left: 35%;
    top: 28%;
    pointer-events: none;
    z-index: 2;
}
  
.search-input {
    background: #3F81C9;
    position: relative;
    z-index: 3;
    border: none;
    color: #fff;
}

.search-input:placeholder-shown {
    z-index: 1;
}

.search-input:focus,
.search-input:active {
    background: #3F81C9;
    border: none;
    color: #fff;
}

.basket-icon,
.user-icon {
    background: #fff;
    color: #1564C0;
    padding: 5px;
    border-radius: 50%;
}

[data-count]:after {
    position: absolute;
    left: 65px;
    top: -10px;
    content: attr(data-count);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 10px;
    border-radius: 100%;
}

/* Slider Css */

.swiper-container {
    width: 100%;
    height: 540px !important;
    background: #1564C0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 500px !important;
    opacity: .5;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    width: 100% !important;
    height: 100% !important;
}

.swiper-slide-prev {
    width: 700px !important;
    margin-right: 30px;
    opacity: 1;
}

.swiper-slide-active {
    width: 300px !important;
    margin-right: 30px;
    opacity: 1;
}

.swiper-slide-next {
    width: 300px !important;
    margin-right: 30px;
    opacity: 1;
}

.swiper-button-next {
    right: 13% !important;
    top: 40% !important;
    width: 50px !important;
    height: 100px !important;
    background: #131F2D;
    color: #fff;
    border-radius: 4px;
    background-image: url(img/Caret_right.png) !important;
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;
}

.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    left: 9% !important;
    top: 40% !important;
    width: 50px !important;
    height: 100px !important;
    background: #131F2D;
    color: #fff;
    border-radius: 4px;
    background-image: url(img/Caret_left.png) !important;
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;
}

.swiper-button-prev::after {
    display: none;
}

/* End Slider Css */

/* Section - Featured Products Css*/

.featured-products a {
    font-size: 14px;
    font-weight: bold;
    color: #3168A7;
}

.card {
    border: 1px solid #dfdfdf;
    border-radius: 0 !important;
    width: 228px;
    height: 500px;
}

.card:hover .btn-group {
    display: block;
}

.card:hover {
    border: 1px solid #628EAF;
}

.card:hover .cargo {
    display: none;
}

.card:not(:first-child) {
    border-left: none !important;
}

.card:not(:last-child) {
    border-right: none !important;
}

.card img {
    width: 90%;
    height: 180px;
    margin: 40px 15px;
}

.rating {
    text-align: center;
}

.rating i {
    color: #F49018;
}

.rating small {
    color: #B8B8B8;
}

.product-id {
    font-size: 12px;
    line-height: 17px;
    margin: 5px;
    text-align: center;
    color: #B8B8B8;
}

.card-title {
    font-size: 12px;
    line-height: 17px;
    height: 50px;
}

.product-price {
    font-size: 28px;
    color: #4678B5;
    font-weight: 600;
    text-align: center;
    margin-bottom: 23px;
}

.cargo {
    background: #eeeeee;
    color: #8a8a8a;
    border-radius: 6px;
    text-align: center;
    font-size: 13px;
    margin-right: auto;
    margin-left: auto;
    width: 110px;
}

.btn-group {
    display: none;
}

.btn-group button:focus {
    outline: none;
}

.btn-group button:hover {
    opacity: .8;
}

.exchange {
    background: #1465BE;
    width: 25%;
    height: 50px;
    position: relative;
    border: none;
    color: #fff;
    display: inline;
    float: left;
}

.add-shopping-card {
    border: none;
    color: #fff;
    position: relative;
    width: 75%;
    height: 50px;
    display: inline;
    background: #2196F3;
}

/* End Section - Featured Products Css*/

/* Section - Best Sellers Css*/
/* Note: All css features that are not here are in the featured products section.*/

.best-sellers{
    margin-bottom: -70px;
}

.best-sellers a {
    font-size: 14px;
    font-weight: bold;
    color: #3168A7;
    margin-top: 20px;
}

.slider {
    width: 1140px;
    height: 525px;
    position: relative;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider .slide {
    display: flex;
    position: absolute;
    left: 0;
    transition: 0.3s left ease-in-out;
}

.slider .item {
    margin-right: 10px;
}

.slider .item:last-child {
    margin-right: 0;
}

.slide .item {
    list-style: none;
}

.ctrl {
    text-align: center;
    margin-top: 5px;
}

.ctrl-btn {
    padding: 20px 20px;
    width: 56px;
    height: 103px;
    background: #eeeeee;
    border: none;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    position: relative;
    top: 50%;
    margin-top: -27.5px;
    color: #9e9e9e;
}

.ctrl-btn.pro-prev {
    left: -6%;
    bottom: 292px;
}

.ctrl-btn.pro-next {
    left: 98%;
    bottom: 292px;
}

/* End Section - Best Sellers Css*/

/* Footer */

footer {
    margin: 10px 0;
}

.footer-menu-elem {
    width: 35%;
    float: left;
    margin: 50px 20px
}

.footer-menu-elem:last-child {
    width: 15%;
}

.footer-title {
    color: #969696;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-list {
    float: left;
    width: 50%;
}

.footer-list-item {
    list-style: none;
}

.footer-list-item a {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 500;
}

hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.footer-bottom-menu {
    margin: 10px;
}

.footer-bottom-menu h5 {
    color: #b5b5b5;
    font-size: 12px;
    font-weight: 600;
}

.footer-bottom-menu p {
    color: #bababa;
    font-size: 12px;
    font-weight: 500;
}

/* End Footer */